__pycache__/
*.py[cod]
*$py.class
venv/
.env
.env.*
.env.local
.idea/
.vscode/
.pytest_cache/
.mypy_cache/
*.sqlite
*.db
*.log
.coverage
htmlcov/
.build/
.dist/
.DS_Store
.eggs/
*.egg-info/
.pip-cache/
.cache/
*.swp
*.swo
.alembic*
node_modules/
